<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated test -->
      <package
            uri="tmodel"
            class="tmodel.TmodelPackage"
            genModel="metamodel/test.genmodel"/>
   </extension>

</plugin>
