<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>EA Graph Analysis</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="jumbotron text-center">
		<h1>CM2KG Conceptual Model to Knowledge Graph</h1>
		<p>One place. One platform. Different kinds of analyzing your conceptual models.</p>
	</div>

	<div class="container">
		<div class="row">
		
			
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Conceptual model transformation" 
                alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" 
                src="https://raw.githubusercontent.com/borkdominik/eGEAA/master/Figures/Generic-Framework-2.png" 
                
                data-holder-rendered="true">
                <div class="card-body">
                  <h5 class="card-title">Conceptual model transformation</h5>
                  <p class="card-text">Transform your conceptual model (Archi, ADOxx, Papyrus ...) to GraphML and gain insights about your model by apply graph based-anaylsis.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{~/upload}">Open</a>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Conceptual model transformation" 
                alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" 
                src="https://d3i71xaburhd42.cloudfront.net/c752945ae2f583d1c05cd732764ea9f8ecc2d8f8/10-Figure1-1.png" 
                
                data-holder-rendered="true">
                <div class="card-body">
                  <h5 class="card-title">EA Smell Detection</h5>
                  <p class="card-text">TBA</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Open</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Conceptual model transformation" 
                alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" 
                src="https://d3i71xaburhd42.cloudfront.net/bceda3ff00a0b577007d17abfbb6fd406058def6/4-Figure4.1-1.png" 
                
                data-holder-rendered="true">
                <div class="card-body">
                  <h5 class="card-title">UML Smell Detection</h5>
                  <p class="card-text">TBA</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Open</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            
            
            
		
	</div>

</body>

</html>